$dark: #222;
$light: rgba(254, 243, 224, 0.52);
$main-colour: darkblue;

// .entry-content .wp-block-gutenbergtemplateblock-templateblock, 
// .wp-block-gutenbergtemplateblock-templateblock {
//     .components-button {
//         height: 81%;
//     }
// }

// .wp-block-gutenbergtemplateblock-templateblock 
// .wp-block-gutenbergtemplateblock-templateblock
// .grid .inline-flex .components-button {
//     height: 81%;
// }

// .entry-content .wp-block-gutenbergtemplateblock-templateblock, 
// .wp-block-gutenbergtemplateblock-templateblock {
    
//     .components-button {
//         height: 81% !important;
//     }

// }