$light: white;
$dark: #222;
$background: rgb(254, 248, 238);
$border: #f0b849;
$main-colour: darkblue;
$secondary-colour: darkred;
$light-text: white;
$dark-text: black;

.wp-block-gutenbergtemplateblock-templateblock.client-block {

    color: $dark-text;
    background: $background;
    border: 3px double $border;
    border-radius: 5px;
    padding: 20px;

    &.style-toggle {
        background: $dark;
        border: 2px $secondary-colour solid;
        color: $light-text;
    }

    .potd-vote-btn {
        margin-right: 5px;
    }
    
    .potd-result {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0px;
        overflow: hidden;
        transition: all 1s ease-in-out;
    }

    .potd-result-table {

        margin: 32px 0 32px 0;

        tr {

            td:nth-child(even) {
                text-align: center;
            }
        }
    }

    .tooltip {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
    }
    
    .tooltip-info {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    span.tooltip::before {
        content: attr(data-tooltip);
        position: absolute;
        font-size: 0.9em;
        padding: 1px 5px;
        display: none;
        color: $light-text;
        background: $dark;
        border-radius: 4px;
        transition: opacity 0.1s ease-out;
        z-index: 99;
        text-align: left;
    }
    
    span:hover::before {
        display: inline-block;
    }

    // Radio's

    div[class^="group-"] {

        align-items: center;
        margin-bottom: 2em;

        p {
            display: flex;
            align-content: center;
        }
    }
    
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    label {

        position: relative;
        margin-right: 1em;
        padding-left: 2em;
        padding-right: 1em;
        line-height: 2;
        z-index: 1;
        cursor: pointer;

        &:before {
            box-sizing: border-box;
            content: " ";
            position: absolute;
            top: 0.3em;
            left: 0;
            display: block;
            width: 1.4em;
            height: 1.4em;
            border: 2px solid $dark;
            border-radius: .25em;
            z-index: -1;
        }

        &:hover:before {
            box-shadow: inset 0px 0px 10px rgb( 0, 0, 0 );
        }
    }

    input[type="radio"] + label::before {
        border-radius: 12px;
    }

    &.style-toggle {

        label {

            &:before {
                border: 2px solid $light-text;
            }

            &:hover:before {
                box-shadow: inset 0px 0px 15px rgb( 255, 255, 255 );
            }
        }

        input[type="radio"]:checked + label {
            color: $dark-text;
            text-shadow: -1px 0 2px $light,
                         0 1px 2px $light,
                         1px 0 2px $light,
                         0 -1px 2px $light;
        }
    }

    input[type="radio"]:checked + label {

        padding-left: 1em;
        color: $light-text;
        text-shadow: -1px 0 2px $dark,
                     0 1px 2px $dark,
                     1px 0 2px $dark,
                     0 -1px 2px $dark;

        &:before {
            top: 0;
            width: 100%;
            height: 2em;
        }
    }
    
    label,
    label::before {
        transition: .25s all ease;
    }
}

.wp-block-gutenbergtemplateblock-templateblock.editor-block {

    .wp-block-gutenbergtemplateblock-templateblock {
        background: $background;
        border: 3px double $border;
        border-radius: 5px;
        padding: 20px;
    }

    &.style-toggle {

        .wp-block-gutenbergtemplateblock-templateblock {
            background: $dark;
            border: 2px $secondary-colour solid;
            color: $light-text;
        }

        .active-tab {
            box-shadow: inset 0 -3px $secondary-colour;
        }
    }

    button {

        color: $dark-text;

        &.active-tab {
            box-shadow: inset 0 -3px $main-colour;
        }
    }

    .edit-input {
        width: 100%;
    }

    .edit-delete-button {
        width: 40px;
        margin-top: 1px;
        line-height: 33px !important;
    }

    .grid {
        display: grid;
    }

    .inline-flex {
        display: inline-flex;
    }

    .inline-grid {
        display: inline-grid;
    }

    .potd-question {
        width: 100%;
    }

    .potd-answers {
    
        .edit-btn-container {

            width: 115px;
            margin: 1px 0 0 2px;
            display: flex;
            justify-content: center;

            button {
                font-size: 16px;
                font-weight: bold;
                line-height: 27px !important;
            }
        }
    }

    .components-base-control {
        width: 100%;
    }

    .active {
        display: block;
    }
}