$dark: #222;
$background: rgb(254, 248, 238);
$border: #f0b849;
$main-colour: darkblue;
$secondary-colour: darkred;
$light-text: white;
$dark-text: black;

.entry-content .wp-block-gutenbergtemplateblock-templateblock, 
.wp-block-gutenbergtemplateblock-templateblock {

    background: $background;
    color: $dark-text;
    border: 3px double $border;
    border-radius: 5px;
    padding: 1rem;

    &.style-toggle {
        background: $dark;
        border: 2px $secondary-colour solid;
        color: $light-text;
    }

    .gutenbergtemplateblock-title {
        // border: 2px $main-colour solid;
    }

    .edit-input {
        width: 100%;
    }

    .edit-delete-button {
        width: 40px;
        margin-top: 1px;
        line-height: 33px !important;
    }

    .grid {
        display: grid;
    }

    .inline-flex {
        display: inline-flex;
    }

    .inline-grid {
        display: inline-grid;
    }

    .potd-question {
        width: 100%;
    }

    .potd-answers {
    
        .edit-btn-container {
            width: 115px;
            margin: 1px 0 0 2px;
            display: flex;
            justify-content: center;
            button {
                font-size: 16px;
                font-weight: bold;
                line-height: 27px !important;
            }
        }

    }

    .components-base-control {
        width: 100%;
    }
}
