.wp-block-gutenbergtemplateblock-templateblock.client-block {
  color: black;
  background: none;
  border: 3px double none;
  border-radius: 5px;
  padding: 20px; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block.style-toggle {
    background: #222;
    border: 2px #37009d solid;
    color: white; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block.style-light {
    background: #fef8ee;
    border: 2px #f0b849 solid;
    color: black; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block .potd-vote-btn {
    margin-right: 5px; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block .potd-result {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    height: 0px;
    overflow: hidden;
    transition: all 1s ease-in-out; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block .potd-result-table {
    margin: 32px 0 32px 0; }
    .wp-block-gutenbergtemplateblock-templateblock.client-block .potd-result-table tr td:nth-child(even) {
      text-align: center; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block .potd-tooltip {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    position: relative;
    cursor: pointer; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block .potd-tooltip-info {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block span.potd-tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    font-size: 0.9em;
    padding: 1px 5px;
    display: none;
    color: white;
    background: #222;
    border-radius: 4px;
    transition: opacity 0.1s ease-out;
    z-index: 99;
    text-align: left; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block span:hover::before {
    display: inline-block; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block div[class^="group-"] {
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 2em; }
    .wp-block-gutenbergtemplateblock-templateblock.client-block div[class^="group-"] p {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
          align-content: center; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block label {
    position: relative;
    margin-right: 1em;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    z-index: 1;
    cursor: pointer; }
    .wp-block-gutenbergtemplateblock-templateblock.client-block label:before {
      box-sizing: border-box;
      content: " ";
      position: absolute;
      top: 0.3em;
      left: 0;
      display: block;
      width: 1.4em;
      height: 1.4em;
      border: 2px solid #222;
      border-radius: .25em;
      z-index: -1; }
    .wp-block-gutenbergtemplateblock-templateblock.client-block label:hover:before {
      box-shadow: inset 0px 0px 10px black; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block input[type="radio"] + label::before {
    border-radius: 12px; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block.style-toggle label:before {
    border: 2px solid white; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block.style-toggle label:hover:before {
    box-shadow: inset 0px 0px 15px white; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block.style-toggle input[type="radio"]:checked + label {
    color: black;
    text-shadow: -1px 0 2px white, 0 1px 2px white, 1px 0 2px white, 0 -1px 2px white; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block input[type="radio"]:checked + label {
    padding-left: 1em;
    color: white;
    text-shadow: -1px 0 2px #222, 0 1px 2px #222, 1px 0 2px #222, 0 -1px 2px #222; }
    .wp-block-gutenbergtemplateblock-templateblock.client-block input[type="radio"]:checked + label:before {
      top: 0;
      width: 100%;
      height: 2em; }
  .wp-block-gutenbergtemplateblock-templateblock.client-block label,
  .wp-block-gutenbergtemplateblock-templateblock.client-block label::before {
    transition: .25s all ease; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block .wp-block-gutenbergtemplateblock-templateblock {
  background: none;
  border: 3px double none;
  border-radius: 5px;
  padding: 20px; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block.style-toggle .wp-block-gutenbergtemplateblock-templateblock {
  background: #222;
  border: 2px #37009d solid;
  color: white; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block.style-toggle .active-tab {
  box-shadow: inset 0 -3px #37009d; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block.style-light .wp-block-gutenbergtemplateblock-templateblock {
  background: #fef8ee;
  border: 2px #f0b849 solid;
  color: black; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block button {
  color: black; }
  .wp-block-gutenbergtemplateblock-templateblock.editor-block button.active-tab {
    box-shadow: inset 0 -3px darkblue; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block .edit-input {
  width: 100%; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block .edit-delete-button {
  width: 40px;
  margin-top: 1px;
  line-height: 33px !important; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block .grid {
  display: -ms-grid;
  display: grid; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block .inline-flex {
  display: -ms-inline-flexbox;
  display: inline-flex; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block .inline-grid {
  display: -ms-inline-grid;
  display: inline-grid; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block .potd-question {
  width: 100%; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block .potd-answers .edit-btn-container {
  width: 115px;
  margin: 1px 0 0 2px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  .wp-block-gutenbergtemplateblock-templateblock.editor-block .potd-answers .edit-btn-container button {
    font-size: 16px;
    font-weight: bold;
    line-height: 27px !important; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block .components-base-control {
  width: 100%; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block .active {
  display: block; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block .potd-edit-results {
  opacity: 0;
  transition: all 2s ease-in-out; }

.wp-block-gutenbergtemplateblock-templateblock.editor-block .potd-edit-results-show {
  opacity: 1; }
